@@font-face {
  font-family: Marcellus;
  src: url("../assets/fonts/Marcellus-Regular.ttf");
}
html {
  height: 100%;
  width: 100%;
}
body {
  background: -webkit-linear-gradient(#16141f, #000b0b);
  background: linear-gradient(#16141f, #000b0b);
  background-color: #16141f;
  height: 100%;
  width: 100%;
  color: #fff;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
nav {
  width: 100%;
  margin-top: 0;
  margin-left: 0;
  margin-right: 0;
  margin-bottom: 20px;
  padding: 0;
  background-color: #000b0b;
}
.nav {
  width: 100%;
  padding-top: 20px;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-align-self: stretch;
      -ms-flex-item-align: stretch;
          align-self: stretch;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border-bottom: 1px solid #4b4b4b;
  z-index: 9999;
}
.nav > a {
  -webkit-align-self: flex-start;
      -ms-flex-item-align: start;
          align-self: flex-start;
}
.logobox {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
      -ms-flex-pack: justify;
          justify-content: space-between;
  height: 50px;
  width: 200px;
}
.logobox > h1 {
  margin-top: 5px;
  font-family: 'Marcellus';
  color: #fff;
}
.nav > a.logo {
  text-decoration: none;
  margin-left: 20px;
  margin-top: -10px;
}
.nav > .logo {
  display: inline;
  background-color: rgba(0,0,0,0);
  background-image: url("../assets/images/logo.png");
  background-size: 50px 50px;
  background-repeat: no-repeat;
  height: 50px;
  width: 50px;
  z-index: 50;
}
.nav > .loginlogo {
  position: fixed;
  background-image: url("../assets/images/spirit.png");
  background-size: 50px 100;
  background-repeat: no-repeat;
  top: 30px;
  left: 15px;
  bottom: 0;
  width: 51px;
  height: 100%;
  z-index: 99;
}
.nav > ul {
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
}
.nav > ul > li {
  display: inline;
  margin-right: 10px;
}
.nav > ul > li > a {
  text-decoration: none;
}
.sidebar {
  background-color: #000b0b;
  border-right: 1px solid #4b4b4b;
  position: fixed;
  top: 69px;
  bottom: 0;
  left: 0;
  width: 20%;
  z-index: 1;
}
.menu {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  -webkit-flex-direction: column;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
}
.menu > p {
  margin-top: 20px;
}
h1 {
  font-size: 3rem;
  font-family: 'Marcellus';
}
p.displayName {
  margin-top: -2px;
  font-family: 'Marcellus';
  color: #433e36;
}
.profile_img > img {
  border-radius: 50%;
  border: 5px solid #fff;
  -webkit-filter: #808080;
          filter: #808080;
  -webkit-filter: grayscale(1);
          filter: grayscale(1);
}
.profile_img > img:hover {
  -webkit-filter: none;
          filter: none;
}
.logout {
  cursor: pointer;
}
.main {
  margin: 0 auto;
}
.mainsite {
  width: 70%;
  margin: 0 0 0 25%;
}
fieldset {
  width: 100%;
}
input,
textarea,
select {
  width: 25%;
  height: 50px;
  margin: 0;
  box-sizing: border-box;
  font-size: 14px;
  font-family: 'Raleway';
}
.inputs {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
}
.validationerror {
  color: #c71d06;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  margin: 0 0 0 20px;
  padding: 0;
}
.valid {
  margin-left: 20px;
  -webkit-align-self: flex-end;
      -ms-flex-item-align: end;
          align-self: flex-end;
  height: 50;
  width: 50;
}
.valid > img {
  height: 70%;
  width: 70%;
}
input.ng-invalid.ng-touched {
  border: 1px solid #c71d06;
}
input.ng-valid.ng-touched {
  border: 1px solid #00951c;
}
.inputs.top_field > input {
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.inputs.bottom_field > input {
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.inputs.middle_field > input {
  border-radius: 0;
}
.inputs.comments > textarea {
  margin-top: 10px;
  height: 150px;
}
textarea {
  vertical-align: top;
}
button {
  margin: 5px;
  box-sizing: border-box;
}
form {
  position: relative;
  width: 90%;
  height: 498px;
  margin: 10% 0 0 33%;
}
.content {
  width: 70%;
  margin: 0 auto;
}
.content_logged_in {
  width: 60%;
  margin: 0 0 0 30%;
}
.content > h1 {
  text-align: center;
}
.fb_btn {
  text-align: center;
  padding: 0;
  width: 200px;
}
.footer_quote {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 10px;
}
.footer_quote > p {
  display: block;
  margin: 0 auto;
  width: 80%;
  color: #433e36;
  font-size: 1rem;
}
.wr {
  color: #878787;
}
