nav(class="cf" ng-include="'views/nav.html'")
div(class="sidebar" ng-show="authData" ng-include="'views/sidebar.html'")
div.content.content_logged_in
	h1 Chat with the artist
	.vid_window(ng-show="vidstream.status == 'on'")
		.video_window
			embed(src="https://162.243.78.63/" height='400px' width='500px')
		.live_chat_window(ng-scroll-bottom="messages")
			ul
				li(ng-repeat="message in messages")
					<span class="chat_name">{{message.displayName}} > </span>  {{message.message}} 
					a(ng-show="id == '10208086100723397'" class="delete" ng-click="delMsg(message)") delete

	.stream_on_off(ng-show="id == '10208086100723397'")
		button(ng-show="id == '10208086100723397' && btn_checked_on" ng-click="vidstream_on()") Stream On
		button(ng-show="id == '10208086100723397' && !btn_checked_on" ng-click="vidstream_off()") Stream Off
	p.
		{{message}}
div.live_footer
	div(class="footer" ng-include="'views/footer.html'")
