nav(class="cf" ng-include="'views/nav.html'")
div(class="sidebar" ng-show="authData" ng-include="'views/sidebar.html'")
div.content.content_logged_in
	h1 This is going to be a chat
	p.
		{{message}}
	.live_chat_window
		ul(ng-hide="id == '10208086100723397'")
			li(ng-repeat="message in messages")
				{{message.displayName}} : {{message.message}}
		ul(ng-show="id == '10208086100723397'")
			li(ng-repeat="message in messages")
				{{message.displayName}} : {{message.message}}
				a(class="delete" ng-click="delMsg(message)") delete
div.live_footer
	div(class="footer" ng-include="'views/footer.html'")
