nav(class="cf" ng-include="'views/nav.html'")
div(ng-show="authData" controller="SuccessController")
	p Hello, {{ displayName }}

section.mylogin
	form(name="myform", novalidate)
		.main(ng-hide="authData")
			h1 Login
			p
				|{{message}}
			fieldset
				.inputs.top_field
					input(type="email" name="email" placeholder="Email" ng-model="user.email" ng-required="true")
				.inputs.bottom_field
					input(type="password" name="password" placeholder="Password" ng-model="user.password" ng-required="true")
			button(type="submit" class="btn" ng-click="login()") Login
			button(type="submit" ng-click="facebookLogin()") Login with Facebook
			p.
				or #[a(ng-href="#/register") Register]
