div.nav
	a(class="logo" ng-href="#/")
		h1 whiteraven
	ul
		li(ng-hide="authData")
			a(ng-href="#/login") Login
		li(ng-hide="authData")
			a(ng-href="#/register") Register
		li(ng-show="authData")
			a(class="logout" ng-click="logout()") Logout
