.nav
	a(class="logo" ng-href="#/")
		.logobox
			.logo
			h1.
				whiteraven
	.loginlogo(ng-show="authData")
	ul
		li
			a(ng-href="#/contact") Contact
		li(ng-hide="authData")
			a(ng-href="#/login") Login
		li(ng-hide="authData")
			a(ng-href="#/register") Register
		li(ng-show="authData")
			a(class="logout" ng-click="logout()") Logout
