section.card
	form(name="myform" novalidate)
		.textintro
			h1 Register
			p To access the site features
		fieldset
			.inputs.top_field
				input(type="text" ng-model="firstname" placeholder="First Name")
			.inputs.middle_field
				input(type="text" ng-model="lastname" placeholder="Last Name")
			.inputs.middle_field    
				input(type="email" ng-model="email" placeholder="Email")
			.inputs.bottom_field
				input(type="password" ng-model="password" placeholder="Password")
			p(ng-if="message") Message: {{ message }}
			p(ng-if="error") Error: {{ error }}
		button(type="submit" class="btn" ng-click="createUser()") Register
		p: or #[a(href="#/login") Login ]
