section.myRegForm
	form(name="myform" novalidate)
		.textintro
			h1 Register
			p To access the site features
		fieldset
			.inputs.top_field
				input(type="text" ng-model="user.email" placeholder="Email")
			.inputs.bottom_field
				input(type="password" ng-model="user.password" placeholder="Password")
		button(type="submit" class="btn" ng-click="createUser()") Register
		p: or #[a(href="#/") Login ]
