.menu
	.profile_img(ng-show="imgsrc")
		img(src="{{imgsrc}}", alt="")
	p(class="displayName").
		{{displayName}}	
	.footer_quote
		p.
			&ldquo;He can be surprised by an anomaly—like a <span class="wr">white raven</span>—which confounds all the books; and all his experience, everything he has learned at the sickbed, is suddenly gone.&rdquo; - Paracelsus
