body
   background-color rgb(35, 36, 47)
   color white

.main
  margin 0 auto

fieldset
  width 80%

input, textarea, select
  width 250px
  height 50px
  margin 0
  box-sizing border-box

.inputs.top_field > input
  border-bottom-left-radius 0
  border-bottom-right-radius 0

.inputs.bottom_field > input
  border-top-left-radius 0
  border-top-right-radius 0

.inputs.middle_field > input
  border-radius 0

textarea
  vertical-align top

button
  margin 5px
  box-sizing border-box

form
  position relative
  width 740px
  height 498px
  margin 0 auto
