glass = rgba(0, 0, 0, 0)
bgcolor = #16141F
navcolor = rgb(0, 11, 11)
darkgray = #433E36
almostblack = rgb(0, 11, 11)
bordercolor = rgb(75, 75, 75)
validcolor = rgb(0, 149, 28)
errorcolor = rgb(199, 29, 6)

@@font-face
  font-family Marcellus
  src url(../assets/fonts/Marcellus-Regular.ttf)

html
  height 100%
  width 100%

body
   background linear-gradient(bgcolor, almostblack)
   background-color bgcolor
   height 100%
   width 100%
   color white
   margin 0
   padding 0
   overflow hidden

nav
  width 100%
  margin-top 0
  margin-left 0
  margin-right 0
  margin-bottom 20px
  padding 0
  background-color navcolor

.nav
  width 100%
  padding-top 20px
  display flex
  flex-direction row
  align-self stretch
  justify-content space-between
  border-bottom 1px solid bordercolor
  z-index 9999

.nav > a
  align-self flex-start

.logobox
  display flex
  flex-direction row
  justify-content space-between
  height 50px
  width 200px

.logobox > h1
  margin-top 5px
  font-family 'Marcellus'
  color white

.nav > a.logo
  text-decoration none
  margin-left 20px
  margin-top -10px

.nav > .logo
  display inline
  background-color glass
  background-image url(../assets/images/logo.png)
  background-size 50px 50px
  background-repeat no-repeat
  height 50px
  width 50px
  z-index 50

.nav > .loginlogo
  position fixed
  background-image url(../assets/images/spirit.png)
  background-size 50px 100
  background-repeat no-repeat
  top 30px
  left 15px
  bottom 0
  width 51px
  height 100%
  z-index 99
  pointer-events none

.nav > ul
  align-self flex-end

.nav > ul > li
  display inline
  margin-right 10px

.nav > ul > li > a
  text-decoration none

.sidebar
  background-color rgb(0, 11, 11)
  border-right 1px solid bordercolor
  position fixed
  top 69px
  bottom 0
  left 0
  width 20%
  z-index 1

.menu
  display flex
  flex-direction column
  align-items center

.menu > p
  margin-top 20px

h1
  font-size 3rem
  font-family 'Marcellus'
p.displayName
  font-family 'Marcellus'
  color darkgray

.profile_img, .profile_img > img
  height 80px
  width 80px

.profile_img > img
  border-radius 50%
  border 5px solid white
  filter gray
  filter grayscale(1)

.profile_img > img:hover
  filter none

.logout
  cursor pointer

.main
  margin 0 auto

.mainsite
  width 70%
  margin 0 0 0 25%

fieldset
  width 100%

input, textarea, select
  width 25%
  height 50px
  margin 0
  box-sizing border-box
  font-size 14px
  font-family 'Raleway'

.inputs
  display flex

.validationerror
  color errorcolor
  align-self flex-end
  margin 0 0 0 20px
  padding 0

.valid
  margin-left 20px
  align-self flex-end
  height 50
  width 50

.valid > img
  height 70%
  width 70%

input.ng-invalid.ng-touched
  border 1px solid errorcolor

input.ng-valid.ng-touched
  border 1px solid validcolor

.inputs.top_field > input
  border-bottom-left-radius 0
  border-bottom-right-radius 0

.inputs.bottom_field > input
  border-top-left-radius 0
  border-top-right-radius 0

.inputs.middle_field > input
  border-radius 0

.inputs.comments > textarea
  margin-top 10px
  height 150px

textarea
  vertical-align top

button
  margin 5px
  box-sizing border-box

form
  position relative
  width 90%
  height 498px
  margin 10% 0 0 33%

.content
  width 70%
  margin 0 auto

.content_logged_in
  width 60%
  transform translate(15%, 0)

.content > h1
  text-align center

.fb_btn
  text-align center
  padding 0
  width 200px

.footer_quote
  position absolute
  left 0
  right 0
  bottom 10px

.footer_quote > p
  display block
  margin 0 auto
  width 80%
  color darkgray
  font-size 1rem

.wr
  color rgb(135, 135, 135)
